<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="utf-8">
    <title><%= metadata.author %> | <%= metadata.title %></title>
    <meta name="title" content="<%= metadata.author %> | <%= metadata.title %>"/>
    <meta name="description" content="<%=metadata.summary%>"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://sofia.kiwi/blog/<%= slug %>"/>
    <meta property="og:title" content="<%= metadata.author %> | <%= metadata.title %>"/>
    <meta property="og:description" content="<%=metadata.summary%>"/>
    <meta property="og:image" content="<%=metadata.thumbnail%>"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="<%=metadata.thumbnail%>">
    <meta name="theme-color" content="#CE4A5C">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" sizes="any">

    <link rel="stylesheet" href="/style/sajber.me.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/marked.min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="https://kit.fontawesome.com/2db49cb13f.js" crossorigin="anonymous"></script>
</head>

<body class="container">
<a id="fork" title="View the source of this blog post." href="https://github.com/salmonslay/kiwi/tree/master/public/blogs/<%= slug %>.md" target="_blank">
    <i class="fa-solid fa-code-branch fa-lg"></i>
</a>
<a id="home-icon" title="Return to main page." href="/#blog">
    <i class="fa-solid fa-house fa-lg"></i>
</a>
<div class="skill-page-wide">

    <div id="banner-fill" class="force-align-items-left">
        <h1><%= metadata.title %>
        </h1>
        <h2 class="subtitle"><%=metadata.author%>, <%= new Date(metadata.date).toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'short'
            }); %></h2>
        <h6 class="no-margin">Tags: <%= metadata.tags.join(', ') %></h6>
        <hr>
    </div>

    <%- html %>

    <hr>
    <div class="footer">
        <p>
            Written by <%= metadata.author %> in <%= new Date(metadata.date).toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'short'
            }); %>.

            <% if(metadata.date !== metadata.updated) { %>
                Updated <%= new Date(metadata.updated).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'short'
                }); %>.
            <% } %>
        </p>
        <a href="/#blog" class="button">Back to the main page</a>


    </div>
</div>

<script>hljs.initHighlightingOnLoad();</script>


</body>

</html>
